#判断是否开启的重写模块
<IfModule mod_rewrite.c>
#开启重写机制
RewriteEngine on
#重写规则
#RewriteRule 匹配的地址 指向的地址
#RewriteRule for.html for.php
#RewriteRule for.html /for.php [R]
#美化url  缩短url 111.html   /static.php?id=111
RewriteRule ^(.*).html  /static.php?id=$1
#RewriteRule (\d+).html  /static.php?id=$1
#配置重写条件 NC no case  不区分大小写

#如果访问的文件路径不是一个文件，文件不存在
#RewriteCond %{REQUEST_FILENAME}  !-f  [NC]
#RewriteCond满足才执行下边的Rule
#RewriteRule (\d+).html  /static.php?id=$1

#跳转到外链接
#RewriteRule ^(.*).html  http://www.baidu.com
#QSA标志
#RewriteRule (\d+).html  /staticcc.php?id=$1 [QSA,R]
#RewriteRule for.html /for.php [G]

#防盗链
#判断来源  是否等于规定域名
#RewriteCond %{HTTP_REFERER}  !cache.quanzhan1.com [NC]
#满足重写规则
#执行重写条件   图片请求  定向到其他位置
#| 或者关系
#RewriteRule (jpg|png|gif) daolian.jpg
#RewriteRule (jpg|png|gif|svg|jpeg) 2.gif
</Ifmodule>